<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand" href="#">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/urls">My URLs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/urls/new">Create New URL</a>
        </li>
      </ul>

      <form method="POST" action="/login" class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          name="username"
          placeholder="Enter your Id"
          aria-label="Search"
        />
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
          login
        </button>
      </form>
    </div>
  </nav>
</header>
