<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <style>
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
      color: white;
    }
  </style>
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand" href="#">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/urls">My URLs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/urls/new">Create New URL</a>
        </li>
      </ul>

      <% if(username){ %>
      <form method="POST" action="/logout" class="form-inline my-2 my-lg-0">
        <a class="nav-link">You are log in as <%= username %></a>
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
          logout
        </button>
      </form>
      <% } else{ %>
      <form method="POST" action="/login" class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          name="username"
          placeholder="Enter your Id"
          aria-label="Search"
        />
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
          login
        </button>
      </form>
      <% } %>
    </div>
  </nav>
</header>
